.control {
    border: 1px solid $bright-red;
    background-color: transparent;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: .5rem;
    }

    &.is-active {
        background-color: $bright-red;
    }
}